@model MyWebApp.Models.Transformer

<tr>
    <td>@Model.ID</td>
    <td>@Model.Name</td>
    <td>@Model.Location.ToUpper()</td>

    <td><div style="width:24px;height:24px;background:@Model.Color"/></td>
</tr>



<!--         PODEM VERIFICAR O QUE HÁ DE ERRADO NESSA VIEW ????????????
 
        O CAMINHO ESTÁ CERTO? E A DECLARAÇÃO DO MODELO TAMBÉM. NÉ? 
 -->