@{
    ViewData["Title"] = "My News";
}

 <div class="jumbotron text-center">
  <h1> Prática sobre Rotas - Asp Net MVC </h1>
  <p> Este é um pequeno exemplo utilizando rotas </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
         <h2> First Observation </h2>
        <h3 class="text-success"> You must be brave enough. Then the world will be at your feet! <strong> Who Am I? </strong> </h3>
    </div>
    
    <div class="col-sm-4">
        <h2> Second Observation </h2>
        <h3 class="text-info"> Sometimes life will hit you head with a brick. Do not lose faith! <strong> Steve Jobs </strong> </h3>
       
    </div>
    
    <div class="col-sm-4">
        <h2> Third Observation </h2>
        <h3 class="text-danger"><i> Um grande varejista uma vez disse o seguinte, disse uma coisa muito 
            simples e de fácil entendimento, que é muito difícil para o conjunto 
            da população ou para muitas camadas da população, comprar à vista, mas
            que quando se compra a prazo, tudo fica mais viável.</i> <strong> Rousseff,Dilma </strong> </h3>
    </div>
  
  </div>
</div> 