<html>
    <head>
        <title>@ViewData["Title"] </title>
    </head>
    <body>
        <h1>@ViewData["Header"] </h1>
        <ul>
            @foreach(var item in (string[])ViewData["Items"]){
                <li>@item</li>
            }
        </ul>
    </body>
</html>
