@{
    ViewData["Title"] = "Country Page";
}

<div class="text-center">
    <h1 class="display-4"> Bem-Vindo Sistema de Países </h1>
    <p> Aprenda mais sobre o autor <a href="https://github.com/johnatanlima/projetoconclusao"> Link para o repositório do projeto </a>.</p>
</div>
